/* Custom styles if needed */
.scrollbar::-webkit-scrollbar {
  height: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.typing {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
}

.active {
  background-color: #3a2c58; /* Warna latar belakang saat aktif */
  color: white !important; /* Warna teks saat aktif */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scrollLeft 20s linear infinite; /* Sesuaikan durasi sesuai kebutuhan */
}